
head, body {
    background-color: aqua;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.left {
    transform: translateY(10px);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.back {
    font-size:20px;
    height: 40px;
    font-weight: bold;
    border-radius: 8px;
    border: 4px solid white;
    background-color: white;
}

.back:hover {
    border: 4px solid black;
    transform: translateY(2px);
}



.title {
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 2%;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 1%;
}


.image {
    height: 20%;
    width: 20%;
    /* center */
    margin: 0 auto;
    display: block;
}

.image:hover {
    transform: translateY(-2px);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}


/* CSS */
.button-27 {
    margin: 40px;
    float: left;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}



