
.titleDiv {
    position: relative;
    scroll-snap-align: start;
    margin-top: -50px auto;
    background-color: teal;
    background-size: 100% 100%;
    padding-bottom: 8%;
    border: 2px black
}

.title {
    font-weight: bold;
    font-size:70px;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    text-align: center;
    padding-top: 3%
}


.subtitle {
    color: rgb(11, 0, 128);
    font-size:30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  

.move {
    margin: 0;
    position: absolute;
    left: 38%;
    
    font-size:30px;
    height: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
    border-radius: 8px;
    border: 4px solid white;
    background-color: white;
}

.move:hover {
    border: 4px solid black;
}

.move:hover > .arrow {
    padding: 6px
}



.bars {
    margin: auto;
    width: 1000px;
    height: 510px;
    flex-wrap: wrap;
    display: flex;
    border-radius: 7px;
    border: solid black 5px;
    background-color: lightgrey;
}

.bars div {
    border-left: solid white 1px;
    width: 12px;
    height: 500px;
    border-radius: 3px;
}

.singleBar {
    background-color: dark;
    margin-top: auto;
}




.btnStart {
    float: left;
    font-weight: bold;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 7px;
    border-width: 2px;
    height: 50px;
    width: 80px;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.btnStart:hover {
    border-color: white;
    background-color: rgb(6, 199, 6);
}
.btnStart:active {
    background-color: rgb(6, 199, 6);
    transform: translateY(3px);
}


.btnReset {
    float: left;
    font-weight: bold;
    font-size: 20px;
    background-color: lightsalmon;
    border-radius: 7px;
    border-width: 2px;
    height: 50px;
    width: 80px;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.btnReset:hover {
    background-color: rgb(254, 108, 50);
    border-color: white;
}
.btnReset:active {
    background-color: rgb(254, 108, 50);
    transform: translateY(3px);
}


.mute {
    float: left;
    border-radius: 5px;
    border-width: 0px;
    height: 35px;
    width: 35px;
    background-image: url(./src/pictures/volume-mute.png);
    background-size:cover;
}
.mute:hover {
    border-width: 1px;
}
.mute:active {
    transform: translateY(1px);
}




.done {
    position: absolute;
    right: 50%;
    top: 30%;
    font-weight: bold !important;
    color:rgb(13, 233, 13);
    opacity: 0.8;
    border-radius: 5px;
}


.algorithemError {
    float: right;
    width: fit-content;
    color: rgb(211, 0, 0);
    border: solid black 2px;
    font-weight: bold;
    background-color: rgb(255, 255, 128);
    margin-right: 10px;
}


.algorithemSelect {
    border: solid black;
    background-color: rgba(25, 167, 255, 0.534);
    border-radius: 7px;
}
.algorithemSelect:hover {
    border: solid white;
    background-color:  rgba(0, 102, 255, 0.501);
}



.moveInfo {
    position: absolute;
    bottom: 10%;
    left: 1%;
    font-size:20px;
    height: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
}

.moveInfo:hover {
    border: solid 1px black;
    transform: translateY(2px);
    left: calc(1% + 1px);
}

.moveInfo:hover > .arrow {
    padding: 6%;
}


.codeDiv {
    position: relative;
    float: left;
    left: 2%;
    border: 2px solid darkgray;
    background-color: rgb(40,44,52);
    padding: 1%;
    border-radius: 20px;
    color: rgb(171, 180, 189);
    
}


.descDiv {
    position:static;
    float: right;
    margin-right: 7%;
    word-wrap: break-word;
    width: 30%;
    
    border: 2px solid darkgray;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 1%;
    background-color: wheat;


}

.sortName {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.description {
    font-size: larger;
}
